@value makerGrey from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

.card_maker {
    border-right: 1px solid makerGrey;
    width: 50%;
    height: 100%;
    overflow-y: auto;
}
h1 {
    font-size: 2rem;
}

@media screen and (max-width: 62rem) {
    .card_maker {
        border-right: 0;
        border-bottom: 1px solid makerGrey;
        width: 100%;
    }
}