@value makerGrey, makerDark, makerColorful, makerBlack, makerWhite, makerShadow from '/src/common/colors.css';
.card {
    display: flex;
    list-style: none;
    align-items: flex-start;
    background-color: blanchedalmond;
    margin-bottom: 2rem;
    max-width: 30rem;
    box-shadow: 6px 6px 8px 0px makerShadow;
    border-radius: 1rem;
    width: 100%;
}
.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1rem;
}
.company, .occupation, .email, .memo {
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 0.3em;
    width: 100%;
}

.company {
    margin-bottom: 1em;
}
.company::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: makerGrey;
    transform: translateY(0.5em);
}

.name {

    margin: 0 0 0.3em 0;
    font-size: 1.2rem;
}
.info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 10rem;
    margin-left: 1em;
}

.card.dark {
    background: makerDark;
    color: makerWhite;
}

.card.light {
    background-color: blanchedalmond;
    color: makerBlack;
}

.card.colorful {
    background: makerColorful;

}
