@value makerBlack, makerWhite, makerGrey, makerLightGrey, makerGreen, makerBlue, makerPink from '/src/common/colors.css';

.loginBox {
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list {
    color: makerWhite;
    list-style: none;
    padding: 0.5em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0.01rem;
    outline: makerGrey;
    border-radius: 1rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;

}

.list.facebook {
    background-color: #3b5998;
}
.list.google {
    background-color: #dd4b39;
}
.list.github {
    background-color: #171515;
}

.input {
    margin: 0.2rem 0;
    width: 100%;
    height: 2em;
    border-radius: 1rem;
    font-size: 0.6rem;
    border: 1px solid makerGrey;
    padding: 0.7rem;
    outline: none;
}
.login_button {
    width: 100%;
    border: 1px solid makerLightGrey;
    border-radius: 1rem;
    color: makerWhite;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.3rem;
    background-color: darkseagreen;
}
.login_service {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.input_login::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: makerLightGrey;
    transform: translateY(0.7em);
}

.email_login {
    padding: 1rem;
    width: 50%;
}

.social_login {
    list-style: none;
    padding: 1rem;
    width: 50%;
    text-align: center;
    border-left: 1px solid makerGrey;
}

.login_text {
    font-size: 2em;
    margin: 1rem 0 0 0;
}
.create_account {
    margin-top: 1rem;
    display: flex;
    justify-content: left;
}

.signup_text {
    font-size: 0.6rem;
    color: makerGrey;
}

.signup {
    border-style: none;
    background-color: white;
    cursor: pointer;
    color: makerGreen;
    font-weight: bold;
}

