@value makerWhite '/src/common/colors.css';

.maker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header,
.footer,
.body
{
    width: 100%;
}

.body {
    height: 100%;
    background-color: makerWhite;
}